/* global */
:root{
    /* color */
    --color-white:#ffffff;
    --color-light-white:#eeeeee;
    --color-dark-white:#bdbdbd;
    --color-pink:#fe918d;
    --color-dark-pink:#ff6863;
    --color-black:#4d4d4d;
    --color-bblack:#000000;
    --color-dark-gray:#4d4d4d;
    --color-grey:#616161;
    --color-light-gray:#7c7979;
    --color-blue:#73aace;
    --color-yellow:#fff7d1;
    --color-orange:#feb546;
    --color-dg-orange:#FF914D;
    --color-dg-darkblue:#202F5A;
    --color-light-blue:#F2F8FA;;

    /* font-size */
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;

    /* font-weight */
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /* size */
    --size-border-radius:4px;
    /* animation duration */
    --animation-duration:300ms;
}


/* universal tags */
*{
    box-sizing:border-box;
}
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration:none;
    color:var(--color-white);
}
ul{
    list-style:none;
    padding-left:0;
}
button{
    background-color:transparent;
    cursor:pointer;
    border:none;
    outline:none;
}

/* Typography */
h1{
    font-size:var(--font-large);
    font-weight: var(--weight-bold);
    color:var(--color-black);
    margin:16px 0;
}
h2{
    font-size:var(--font-medium);
    font-weight:var(--weight-semi-bold);
    color:var(--color-black);
    margin:8px 0;
}
h3{
    font-size:var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin:8px 0;
}
p{
    font-size:var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin:4px 0;
}
/* font-family: 'Noto Sans KR', sans-serif; */

/* Navbar */
#navbar{
    position:fixed;
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color: transparent;
    align-items:center;
    padding: 0px 16px;
    transition:all var(--animation-duration) ease-in-out;
    z-index:1;
}
#navbar.navbar--dark{
    background-color:var(--color-dg-orange);
    
}
.navbar_menu_ul{
    display:flex;
    color:var(--color-white);

}
.navbar_logo{
    font-size:var(--font-medium);
    font-weight:var(--weight-semi-bold);
}
.navbar_logo img{
    width:50px;
    height:auto;
}
.navbar_logo a{
    vertical-align: center;
}
.navbar_menu_item{
    padding:8px 12px;
    margin:0 4px;
    cursor:pointer;
    border-radius:var(--size-border-radius);
    border:1px solid transparent;
    

}

.navbar_menu_item:hover{
    border:1px solid var(--color-white);
    background-color: var(--color-dg-darkblue);
    border-radius:var(--size-border-radius);
}
.navbar_toggle_btn{
    position:absolute;
    top:44px;
    right:32px;
    font-size:24px;
    color:var(--color-white);
    display:none;
}

/* Home */
#home{
    background:url(../images/mymain_bg.png) center/cover no-repeat;
    padding:40px;
    padding-top:120px;
    text-align:center;
    position:relative;
}
.home_avatar{
    width:250px;
    height:250px;
    border-radius:50%;
    border:2px solid var(--color-light-white);
}
.home_title, .home_description{
    color:var(--color-black);
    padding-top:50px;
}

.home_contact{
    font-size:var(--font-regular);
    font-weight:var(--weight-bold);
    margin:24px;
    padding:8px 12px;
    border:2px solid var(--color-dg-darkblue);
    border-radius:4px;
    color:var(--color-dg-darkblue);
}
.home_contact:hover{
    background-color: var(--color-dg-darkblue);
    color:var(--color-white);
}
/* typed */
#home .textW{
	width: 530px;
    font-size: 28px;
    line-height: 40px;
    position: absolute;
    top: 396px;
    left: 50%;
    margin-left: -250px;
    text-align:left;
}
.typed-cursor{
	color:#202F5A;
    margin-left:1px;
    height:40px;
}
#home .ptitle{
	color:var(--color-black);
	font-weight:bold;
	font-size:32px;
	
}

/* section common */
.section{
    text-align:center;
    padding:50px;
    margin:auto;
}
.section_container{
    max-width:1200px;
    margin:auto;
}

/* About */
#about>p{
    margin-bottom:48px;
    font-family: 'Noto Sans KR', sans-serif;
}
#about>p>.boldtxt{
    font-weight:bold;
}
.aboutme{
    
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    color: var(--color-black);
    line-height: 150%;
    margin: 0 auto 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:var(--font-medium);
}
.aboutme a{
    color:var(--color-black);
    text-decoration: underline;
}


.aboutme ul>li>i{
    display:inline-block;
	margin-right:10px;
	text-align:center;
	width:20px;
}
.motto{
    width:240px;
    height:240px;
    padding:5px;
}
.motto img{
    width:100%;
    height:100%;
}

.profile_info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.profile_career{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.about_majors{
    display:flex;
    justify-content:space-between;
    margin: 0 0 80px;
}


/* skills */
#skills{
    background-color: var(--color-light-blue);
}
.skillset{
    display:flex;
    background-color: var(--color-light-gray);
    color:var(--color-light-white);
    margin:40px 0;
}
.skillset_title{
    color:var(--color-white);
}
.skillset_left{
    flex-basis: 60%;
    background-color: var(--color-dark-gray);
    padding:20px 40px;
}
.skillset_right{
    flex-basis: 40%;
}
.tools{
    background-color: var(--color-grey);
}
.tools, .etc{
    padding:20px;
}
.skill{
    margin-bottom:32px;
}
.skill_description{
    display:flex;
    justify-content: space-between;
}

.skill_bar{
    width:100%;
    height:3px;
    background-color: var(--color-grey);
}
.skill_value{
    width:70%;
    height:3px;
    background-color: var(--color-orange);
}
.major_icon{
    width:170px;
    height:170px;
    font-size:70px;
    line-height:170px;
    margin:auto;
    border:1px solid var(--color-blue);
    border-radius:50%;
    margin-bottom:16px;
    color:var(--color-blue);
    cursor:pointer;
}
.major_icon i{
    transition:all 300ms ease;
}
.major_icon:hover i{
    color:var(--color-pink);
    transform:rotate(30deg) scale(1.1);
}
.major_title, .major_desctiption{
    color:var(--color-dark-gray);
}
.major_desctiption{
    font-size:var(--font-small);
    font-family: 'Noto Sans KR', sans-serif;
}
/* work */
.work_categories{
    margin:40px;
}
.category_btn{
    border:1px solid var(--color-dark-white);
    border-radius:var(--size-border-radius)
    font-size:var(--font-regular);
    padding:8px 48px;
    width:176px;
}
.category_btn.selected,
.category_btn:hover{
    background-color: var(--color-pink);
    color:var(--color-white);
}
.category_count{
    border-radius:50%;
    color:var(--color-white);
    background-color: var(--color-orange);
    width:24px;
    height:24px;
    display:inline-block;
    line-height:24px;
    position:relative;
    top:-20px;
    left:4px;
    /* opacity:0; */
    opacity:0;
    transition:all var(--animation-duration) ease-in;
}
.category_btn.selected .catecory_count,
.category_btn:hover .category_count{
    opacity:1;
    top:0;
}

.work_projects{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    opacity:1;
    transition:all var(--animation-duration) ease-out;
}
.work_projects.anim-out{
    opacity:0;
    transform:scale(0.96) translateY(40px);
}
.project.invisible{
    display:none;
}

.project{
    width:280px;
    height:250px;
    margin:2px;
    background:var(--color-light-white);
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.project_img{
    max-width:100%;
    max-height:100%;
}
.project_description{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    background:var(--color-bblack);
    opacity:0;
    width:100%;
    height:100%;
    transition:all var(--animation-duration) ease-in;
    transform:translateY(10px);
}
.project:hover .project_description{
    opacity:0.8;
    transform:translateY(0px);
}
.project_description h3{
    color:var(--color-dg-orange);
}
.project_description h3::after{
    content:'';
    display:block;
    position:relative;
    left:50%;
    width:50px;
    height:2px;
    transform:translateX(-50%);
    margin-top:8px;
    background-color: var(--color-dark-white);
}

/* Testimonial -> travel */
#testimonials{
    background-color: var(--color-light-white);
}
.tab_content{height:640px; overflow:hidden; margin:72px auto; position:relative;}
.tab_content #gallery{
	position:absolute;
	left:50%;
	top:50%;
	margin:-297px 0 0 -412px;
	width:824px;
	height:595px;
}
#image{
	width:760px;
	height:470px;
	margin:0 auto;	
}
#image p{
	display:none;
}
#image p img{
	width:760px;
	height:470px;
}
#thumbnail{
	position:relative;
	width:824px;
	height:95px;
	margin-top:30px;
}
#thumbnail div{
	float:left;
}
#thumbnail img{
	width:120px;
	height:75px;
}
#thumbnail .left,#thumbnail .right{
	position:absolute;
	top:36%;
	width:33px;
	height:33px;
	text-align:center;
	cursor:pointer;
}
#thumbnail .left img, #thumbnail .right img{
	width:33px;
	height:33px;
}
#thumbnail .left{
	left:-10px;
}
#thumbnail .right{
	right:-10px;
}
#thumbnail .container{
	overflow:hidden;
	position:relative;
	left:33px;
	width:760px;
	height:95px;
}
#thumbnail ul{
	position:absolute;
	width:3072px; /* 120+8px = 128px * 6개 * 3덩어리 */
	margin-left:-8px;
}
#thumbnail .container .thumb{
	float:left;
	width:120px;
	height:95px;
	margin-left:8px;
	list-style:none;
	cursor:pointer;
}
#thumbnail .container .thumb .ml0{
	margin-left:0;
}

/* contact */
#contact{
    background-color: var(--color-dg-darkblue);
}
.contact_title, .contact_email,.contact_rights{
    color:var(--color-white);
}
.contact_title{
    margin:32px;
}
.contact_links{
    font-size:var(--font-large);
    margin:24px 0;
}
.contact_links i:hover{
    transform:scale(1.1);
    color:var(--color-yellow);
}

.contact_links i{
    transition:all var(--animation-duration)ease-in;
}

/* arrow up */
.arrow_up{
    position:fixed;
    bottom:50px;
    right:50px;
    font-size:50px;
    color:var(--color-dg-orange);
    opacity:0;
    transition:all 300ms ease-in;
    pointer-events:none;
}
.arrow_up.visible{
    opacity:1;
    pointer-events:auto;
}

/* For below 768px screen width  */
@media screen and (max-width:768px){
    .navbar_toggle_btn{
        display:block;
    }
    #navbar{
        flex-direction:column;
        align-items: flex-start;
        background-color: var(--color-dg-orange);
        
    }
    .navbar_menu_ul{
        flex-direction:column;
        text-align:center;
        display:none;
        margin:0 auto;
    }
    .navbar_menu_ul.open{
        display:block;
    }
    #home .textW{
        width:auto;
        left:30px;
        margin-left:0;
    }
    #home .ptitle{
        font-size:20px;
    }
    .aboutme{
        flex-direction: column;
        width:auto;
    }

    .about_majors{
        flex-direction:column;
        width:100%;
    }
    .mjor{
        margin-bottom:32px;
        width:auto;
    }
    .skillset{
        flex-direction:column;
    }
    .project{
        flex-grow:1;
    }
    #testimonials{
        display:none;
    }
    .arrow_up{
        bottom:8px;
        right:0;
    }
}